<div class="row">
    <section class="user_info">
      <h3>
        Name:<%= kitten.name %> <br>
        Age <%= kitten.age %> <br>
        Cuteness: <%= kitten.cuteness %> <br>
        Softness <%= kitten.softness %> <br>
        Image: <%= image_tag kitten.image.thumb.url%> <br>
      </h3>
       <%= link_to "delete", kitten, method: :delete,
                                  data: { confirm: "You sure?" } %>
       <%= link_to "edit",edit_kitten_path(kitten) %>
    </section>
</div>
